// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$light-blue: #118bc0;
$dark-blue: #0070a4;
$border-black: rgba(0, 0, 0, 0.5);

body {
  margin: 0;
}
app {
  border: 2px solid $border-black;
}

.top-nav__left {
  display: flex;
  flex-grow: 1;
}
.top.nav__title {
  background: $light-blue;
  color: #fff;
}
.top-nav__right {

}
.top-nav__btn {
  background: $dark-blue;
  color: #fff;
}
.hero {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
}
.hero__contents {
  display: flex;
  justify-content: center;
  align-items: center;

}
.hero__text {
  text-align: center;

}
.hero__action {
  color: #fff;
  background: $light-blue;
  box-shadow: .2rem .2rem .2rem;
}
